@font-face {
    font-family: 'csgofont';
    src: url('./images/cs_regular.ttf')  format('truetype');
    font-weight: 300; /* Safari, Android, iOS */

  }
body {
    font-family: 'csgofont';
    font-size: 2vh;
    background-image: url("https://dmarket.com/blog/best-csgo-wallpapers/tercsgo_huc01d3a403c050d47715d6aeed15b344f_839613_1920x1080_resize_q90_box.jpg");
    background-size: auto;
    background-repeat: no-repeat;

}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}

h1 {
    font-weight: 300;
}

h3 {
    color: #eee;
    font-weight: 100;
}

h5 {
    color:#eee;
    font-weight:300;
}

a,
a:hover {
    text-decoration: none;
    color: #ddd;
}

.win{
background: linear-gradient(90deg, rgba(44,245,24,1) 0%, rgba(4,79,11,0.7488037451308649) 100%);
}

.loss{
background: linear-gradient(90deg, rgba(255,0,0,0.8272351176798844) 0%, rgba(255,136,125,1) 100%);
}

.tie{
    background: linear-gradient(90deg, rgba(140,136,136,0.8272351176798844) 0%, rgba(246,231,230,0.4322771344866071) 100%);    
}
.dropDownWidth{
    width: 20%;
}
.dropDownColor{
    background-color: bisque;
    opacity: 50%;
}
.dropDownDivLength{
    width: 20%;
}
.statsDropdown{
    background-color: blue;
    color: white;
}
.modalWidth{
    left: 4%;
    width: 60%;
}
.centerThis{
    width: 100%;
}
.modal-backdrop{
    width: 110vw;
    height: 110vh;
}
.modal-content{
    background-image: url("./images/modal-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: yellow solid 1px;
}
.collapseTable{
    border-collapse: separate;
    letter-spacing: .5px;
}
/*IPHONE X VERTICAL*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    .statsTable{
        width: 110%;
    }
}
/*IPHONE6/7/8 VERTICAL*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

    html{
        width: 100%;
    }
}