@font-face {
    font-family: 'csgofont';
    src: url('./images/cs_regular.ttf')  format('truetype');
    font-weight: 300; /* Safari, Android, iOS */

  }
body {
    font-family: 'csgofont';
    background-image: url("https://dmarket.com/blog/best-csgo-wallpapers/tercsgo_huc01d3a403c050d47715d6aeed15b344f_839613_1920x1080_resize_q90_box.jpg");
    background-size: auto;
    background-repeat: no-repeat;

}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}

h1 {
    font-weight: 300;
}

h3 {
    color: #eee;
    font-weight: 100;
}

h5 {
    color:#eee;
    font-weight:300;
}

.small-screen-inputs{
    display: none;
}
.win{
background: linear-gradient(90deg, rgba(44,245,24,1) 0%, rgba(4,79,11,0.7488037451308649) 100%);
}

.loss{
background: linear-gradient(90deg, rgba(255,0,0,0.8272351176798844) 0%, rgba(255,136,125,1) 100%);
}

.tie{
    background: linear-gradient(90deg, rgba(140,136,136,0.8272351176798844) 0%, rgba(246,231,230,0.4322771344866071) 100%);    
}
.dropDownWidth{
    width: 20%;
}
.dropDownColor{
    background-color: bisque;
    opacity: 50%;
}
.dropDownDivLength{
    width: 20%;
}
.statsDropdown{
    background-color: blue;
    color: white;
}
.modalWidth{
    /* left: 4%; */
    width: 60vw;
}
.centerThis{
    width: 100%;
}
.modal-backdrop{
    width: 110vw;
    height: 110vh;
}
.viewAllStats{
    background: rgb(168,43,31);
    background: linear-gradient(90deg, rgba(168,43,31,1) 0%, rgba(204,84,8,1) 62%);
}

.modal-content{
     background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
     background-blend-mode: multiply,multiply;
    background-repeat: no-repeat;
    border: black solid 1px;
}
.collapseTable{
    border-collapse: separate;
    letter-spacing: .6px;
}
.buttonWidth{
    width: 100%;
    font-size: 100%;
    letter-spacing: 1px;
}
.modifyGlow:hover{
    -webkit-box-shadow: 0px 0px 30px 10px #FFFD12; 
    box-shadow: 0px 0px 30px 10px #FFFD12;
}
/*IPHONEX HORIZONTAL*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 
    .collapseTable{
        font-size: 130%;
    }
    body{
        background-image: url("./images/horizontal-background-mobile.jpg");
        background-size: cover;
    }
}

/* IPHONE6/7/8 VERTICAL*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    body{
        background-image: url("./images/vertical-phone-background.jpg");
        background-size: 375px 667px;
        font-size: 2vh;
    }
    .tableRowHeight{
        height: 3vh;
    }
    .modal-content{
        left: 25%;
        background-size: contain;
    }
    .regular-sized-inputs{
        display: none;
    }
    .small-screen-inputs{
        display: inline-block;
    }
}
/*Iphone6/7/8 horizontal*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    body{
        background-image: url("./images/horizontal-background-mobile.jpg");
        background-size: cover;
    }
 }
/*IPHONE X VERTICAL*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    body{
        background-image: url("./images/vertical-phone-background.jpg");
        background-size: 375px 812px;
        /* background-repeat: no-repeat; */
    }
    .modal-content{
        left: 25%;
        /* background-size: 225px 240px; */
    }
    .statsTable{
        width: 100%;
    }
    .collapseTable{
        font-size: 80%;
    }
    .regular-sized-inputs{
        display: none;
    }
    .small-screen-inputs{
        display: inline-block;
    }
}
/*iphone 6/7/8plus vertical*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 

    body{
        background-size: 414px 736px;
    }
 }